@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Some Guy Named Ty";
}

<!--My Intro-->
<div class="page">
    <div class="container">
        <h1>Tyler Harris</h1>
        <br /><br />
        <div class="container_img">
            <img width="700" src="img/wickedserve.jpg" />
        </div>
        <br /><br />
        <p> Here is a picture of me with my doubles partner representing team Utah at the USTA National Championships. We got first place!</p>
        <br />
        <p>
            I want to develop my programming skills so that I can feel comfortable coding in my upcoming internship. I also want to learn how to be better
            at looking up solutions on my own instead of immediately asking for help. I want to become a master at using google to solve my coding problems.
            If I have the time, I want to create my own personal ASP.NET web application aside from our regular school work for some extra practice.
        </p>

        <h3>My top 3 jobs that I want to pursue once I graduate.</h3>
        <p>1. Data Engineer/Analytics or something related</p>
        <p>2. Business Intelligence</p>
        <p>3. Some sort of Developer</p>
    </div>
</div>
